<% include public/views/header.ejs %>

<div id="mainPage">
    <div class="poll">
        <h4 class="questionTitle">Question of the Day</h4>
        <div class="question">What should I order at your favorite restaurant?</div>
    </div>
    <button class="commentButtons" id="addComment">
        Speak Your Mind
        <img src="public/images/speechbubble.png" id="speechbubble">
    </button>
    <textarea class="text" id="commentText" maxlength="100"></textarea>
    <button class="commentButtons" id='hearComments'>
        Open Your Mind
        <img src="public/images/thoughtbubble.png" id="thoughtbubble">
    </button>
    <div class="comments" id="comments"></div>
</div>

<div id="signupPage">
    <% include public/views/signup.ejs %>
</div>

<div id="loginPage">
    <% include public/views/login.ejs %>
</div>

<div id="userPage">
    <% include public/views/userpage.ejs %>
</div>

<div id="otherUserPage">
    <% include public/views/otheruserpage.ejs %>
</div>

<% include public/views/footer.ejs %>