<% include public/views/header.ejs %>

<header>
    <h1>I.F.</h1>
    <h3>International Friends</h3>
</header>

<div class="container">
    <h3>The Speak-O-Sphere</h3>
    <div class="poll">
        <h4 class="questionTitle">Question of the Day</h4>
        <div class="question">What should I order at your favorite restaurant?</div>
    </div>
    <h5>Speak Your Mind</h5>
    <textarea class="text" maxlength="200"></textarea>
    <h2 class="comment-add">Add</h2>
    <div class="reload">reload comments</div>
    <div class="comments"> </div>

    <!--<a href="https://phansite.net/forum/" class="notice">
        Visit <span>Phantom Forum <br>(beta) - it's back!</span>
    </a>-->
</div>

<% include public/views/footer.ejs %>