<form id="">
    <div class="row loginPage">
        <label>Email</label>
        <input id="email" type="email" placeholder="yourname@email.com" required>
        <br>
        <label>Password</label>
        <input id="password" type="password" placeholder="Password" maxlength="25" required>
        <br>
        <br>
        <button id="loginSubmit" type="button">Log In</button>
    </div>
</form>