<form id="">
    <div class="otherUserPage" id="otheruserPage">
        <div id="otheruserpageTitle"></div>
    </div>
    <button class="commentButtons" id="otheruseraddcomment">
        Tell 'em what's up!
        <img src="public/images/speechbubble.png" id="otheruserspeechbubble">
    </button>
    <textarea class="text" id="otherusercommentText" maxlength="140"></textarea>
    <div class="comments" id="otherusercomments"></div>
</form>