<form id="">
    <div class="row signupPage">
        <label>Email</label>
        <input id="signupEmail" type="email" placeholder="yourname@email.com" required>
        <br>
        <label>Password</label>
        <input id="signupPassword" type="password" placeholder="Password" required>
        <input id="confirmPassword" type="password" placeholder="Confirm Password" required>
        <label>Username</label>
        <input id="username" type="text" placeholder="Username" required>
        <br>
        <br>
        <button id="signupSubmit" type="button">Submit</button>
    </div>
</form>