<form id="">
    <div class="userPage">
        <div id="leftSideOfUserPage">
            <div id="userpageTitle"></div>
            <br>
            <label>Your religion is...</label>
            <input id="hobby" type="text" placeholder="...Zoroastrianism?" maxlength="50" required>
            <label>Your political leaning is...</label>
            <input id="job" type="text" placeholder="...anarchist?" maxlength="50" required>
            <label>Your home country is...</label>
            <input id="goal" type="text" placeholder="...Atlantis?" maxlength="50" required>
            <label>You believe...</label>
            <input id="identity" type="text" placeholder="...in fairies?" maxlength="50" required>
            <br>
            <br>
            <button id="userpageSubmit" type="button">Submit</button>
        </div>
    </div>
</form>