<form id="">
    <div class="userPage">
        <div id="leftSideOfUserPage">
            <div id="userpageTitle"></div>
            <br>
            <label>In your free time, you...</label>
            <input id="hobby" type="text" placeholder="...play a sport?" maxlength="50" required>
            <label>Your current occupation is...</label>
            <input id="job" type="text" placeholder="...full-time student?" maxlength="50" required>
            <label>Your life goal is...</label>
            <input id="goal" type="text" placeholder="...world domination?" maxlength="50" required>
            <label>You'd like others to know you are...</label>
            <input id="identity" type="text" placeholder="...actually a robot?" maxlength="50" required>
            <br>
            <br>
            <button id="userpageSubmit" type="button">Submit</button>
        </div>
    </div>
</form>